body { 
    background-color: #a4ac86;

  }
  header {
    background-image: linear-gradient(to bottom, #344e41, #588157);
    color: #fff;
    text-align: center;
    padding: 5px;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  nav a:hover {
    color: #582f0e;
  }
  @media (max-width: 767px) {
    header {
        background-color: blue;
    }
  }
  @media (max-width: 767px) {
    nav {
        font: size 16px;;
    }
  }
  @media (min-width: 1200px) {
    header {
        width: 1200x;
    }


   

   #flor1 {
    width: 200px;
    height: auto;

   }

   #flor2 {
    width: 250px;
    height: auto;
   
   }

   #flor3 {
    width: 200px;
    height: auto;

   }

   .imagenes {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-left: 200px;